<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css " rel="stylesheet"/>
        <link href="/css/style.css" rel="stylesheet">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header>
            <section class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo">
            </section>

            <section class="buscar">
                <!-- <p>Lugar para poner la barra de búsqueda</p> -->
                <input type="text" id="inptBuscar" value="Buscar productos, marcas y mas">
                <br>
                <button type="submit" class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
            </section>
            
            <div class="imgCenter">
                <p>
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
        
            </section>
                <nav>
                    <ul id="listMenu">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <br>
                        <li><a href="#">Creá tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                        <li><a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                        <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping "></i></li>
                    </ul>
                </nav>    
                
                <div class="burger-menu imgCenter">
                    <button type="submit" class="bars"><i class="fas fa-bars"></i></button>
                </div>
            </section>
            
            <div class="imgBanner">
                <img src="/images/img-home-banner.jpg" alt="Baner" width="405"/>
            </div>
        </header>
        
        <main>
            <section>
                <div><h3 class="titulares">Basado en tu última visita</h3></div>
                <article>
                    <div><img src='images/img-cafetera-moulinex.jpg' width="405" height="350"/></div>
                    <span class="precio">$6.770</span>
                    <span class="descuento">40% off</span>
                    <h4>Cafetera Moulinex</h4>
                </article>

                <article>
                    <div><img src='/images/img-macbook-pro-2019.jpg' width="405" height="350"/></div>
                    <span class="precio">$230.000</span>
                    <span class="descuento">20% off</span>
                    <h4>MacBook Pro 2019</h4>
                </article>

                <article>
                    <div><img src='/images/img-samsung-galaxy-s10.jpg' width="405" height="350"/></div>
                    <span class="precio">$70.500</span>
                    <span class="descuento">10% off</span>
                    <h4>Samsung Galaxy S10</h4>
                </article>

                <article>
                    <div><img src='/images/img-tv-samsung-smart.jpg' width="405" height="350"/></div>
                    <span class="precio">$23.200</span>
                    <span class="descuento">5% off</span>
                    <h4>SmartTv Samsung 43"</h4>
                </article>
            </section>
            
            <section>
                <div>
                    <h3 class="titulares">Sección de Ofertas</h3>
                </div>
                
                <article>
                    <div><img src='images/img-cafetera-moulinex.jpg' width="405" height="350"/></div>
                    <span class="precio">$6.770</span>
                    <span class="descuento">40% off</span>
                    <h4>Cafetera Moulinex</h4>
                </article>

                <article>
                    <div><img src='images/img-macbook-pro-2019.jpg' width="405" height="350"/></div>
                    <span class="precio">$230.000</span>
                    <span class="descuento">20% off</span>
                    <h4>MacBook Pro 2019</h4>
                </article>

                <article>
                    <div><img src='images/img-samsung-galaxy-s10.jpg' width="405" height="350"/></div>
                    <span class="precio"> $70.500</span>
                    <span class="descuento">10% off</span>
                    <h4>Samsung Galaxy S10</h4>
                </article>

                <article>
                    <div><img src='images/img-tv-samsung-smart.jpg' width="405" height="350"/></div>
                    <span class="precio">$23.200</span>
                    <span class="descuento">5% off</span>
                    <h4>SmartTv Samsung 43"</h4>
                </article>
            </section>
        </main>

        <footer>
            <div>
                <i class="fa-solid fa-credit-card iconFooter"></i>
                <h4 class="titulo">Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>

            <div>
                <i class="fa-solid fa-gift iconFooter"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>

            <div>
                <i class="fa-solid fa-user-shield iconFooter"></i>    
                <h4>Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>

            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>